@using Newtonsoft.Json
@using Saaly.Shared.Helpers
@model string

@{
    FeedbackModel feedback = null;
    if (!string.IsNullOrEmpty(Model))
    {
        feedback = JsonConvert.DeserializeObject<FeedbackModel>(Model);
    }
}

@if (feedback != null)
{
    <div class="alert alert-@feedback.AlertClass.ToLower() alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @if(feedback.Messages.Count() == 1)
        {
            @if (feedback.FeedbackType == eFeedbackType.Custom)
            {
                @feedback.Messages.FirstOrDefault();
            }
        }
        else
        {
            <ul>
                @foreach (var message in feedback.Messages)
                {
                    <li>@message</li>
                }
            </ul>  
        }       

        @if (feedback.FeedbackType == eFeedbackType.Legacy)
        {
            @Html.ValidationSummary();
        }
    </div>
}