.vs/
Saaly/.vs/
Saaly/bin/
Saaly/obj/
Saaly/connection.json
Saaly.Data/obj/
Saaly.Data/bin/
Saaly.Data.Tests/bin/
Saaly.Data.Tests/obj/
Saaly.Models/obj/
Saaly.Models/bin/
Saaly.Services/bin/
Saaly.Services/obj/
Saaly.Shared/bin/
Saaly.Shared/obj/
Saaly.User/obj/
Saaly.User/bin/
Saaly.User.Tests/obj/
Saaly.User.Tests/bin/
Saaly.Tests/bin/
Saaly.Tests/obj/
Saaly.Services.Tests/bin/
Saaly.Service.Tests/obj/
Saaly.Services.Tests/obj/
Saaly.Infrastucture/bin/
Saaly.Infrastucture/obj/
Saaly.Infrastructure/obj/
Saaly.Infrastructure/bin/
Saaly.Infrastructure.Extensions/obj/
Saaly.Infrastructure.Extensions/bin/
Saaly.Tasks/obj/
Saaly.Tasks/bin/
Saaly.API/obj/
Saaly.API/bin/
Saaly.User/connection.json
