@page
@model LoginModel

@{
    Layout = "_Public.Registration.Layout";
    ViewData["Title"] = "Log in";
}

<div class="hero-static d-flex align-items-center">
    <div class="content">
        <div class="row justify-content-center push">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <!-- Sign In Block -->
                <div class="block block-rounded mb-0">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">@ViewData["Title"]</h3>
                        <div class="block-options">
                            <a class="btn-block-option fs-sm" asp-page="./ForgotPassword">Forgot Password?</a>
                            <a class="btn-block-option" asp-asp-area="" asp-page="/Register" data-bs-toggle="tooltip" data-bs-placement="left" title="New Account">
                                <i class="fa fa-user-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="p-sm-3 px-lg-4 px-xxl-5 py-lg-5">
                            <h1 class="h2 mb-1"><a asp-page="/">Saaly</a></h1>
                            <p class="fw-medium text-muted">
                                Welcome, please login.
                            </p>

                            <!-- Sign In Form -->
                            <!-- jQuery Validation (.js-validation-signin class is initialized in js/pages/op_auth_signin.min.js which was auto compiled from _js/pages/op_auth_signin.js) -->
                            <!-- For more info and examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <form id="account" method="post">
                                <div class="py-3">
                                    <div class="mb-4">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    </div>
                                    <div class="mb-4">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-check">
                                            <label asp-for="Input.RememberMe" class="form-check-label">
                                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6 col-xl-5">
                                        <button type="submit" class="btn w-100 btn-alt-primary">
                                            <i class="fa fa-fw fa-sign-in-alt me-1 opacity-50"></i> Sign In
                                        </button>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                </div>
                            </form>
                            <!-- END Sign In Form -->
                        </div>
                    </div>
                </div>
                <!-- END Sign In Block -->
            </div>
        </div>
        <div class="fs-sm text-muted text-center">
            <strong>Saaly 5.8</strong> &copy; <span data-toggle="year-copy"></span>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
